<div class="students-container">
    <div class="header">
        <div class="college-name">
            Vellore Institute of Technology
        </div>
        <div class="year-dropdrown">
            <input type="text" placeholder="Year of Batch">
        </div>
    </div>
    <div class="students-data">
        <div class="students student-strength">
            <span>Students</span>
            <span class="count">7000</span>
        </div>
        <div class="students" style="background-image: url(../../../assets/img/green_glass.jpg); object-fit: fill;">
            <span>CSE</span>
            <span class="count">3724</span>
        </div>
        <div class="students" style="background-image: url(../../../assets/img/blue_glass.jpg); object-fit: fill;">
            <span>ECE</span>
            <span class="count">2200</span>
        </div>
        <div class="students" style="background-image: url(../../../assets/img/all_colors_glass.jpg); object-fit: fill;">
            <span>MEC</span>
            <span class="count">750</span>
        </div>
        <div class="students" style="background-image: url(../../../assets/img/sky_blue_glass.jpg); object-fit: fill;">
            <span>BIO</span>
            <span class="count">326</span>
        </div>
        <!-- <div class="students" style="background-image: url(../../../assets/img/blur_glass.jpg); object-fit: fill;">
            <span>AIRO</span>
            <span class="count">500</span>
        </div> -->
    </div>
    <div class="sort-students">
        <div class="search">
            <input type="text" placeholder="Search by Name">
            <input type="text" placeholder="Search by Reg.No">
        </div>
        <div class="sort">
            <input type="text" placeholder="Sort">
        </div>
        <div class="student-profile">
            <div class="student-card">
                <!-- <div class="card-header">

                </div> -->
                <div class="card-body">
                    <div class="student-data">
                        <span>CSE - 2018</span>
                        <span class="cgpa">9.8/10</span>
                    </div>
                    <div class="student-image">
                        <!-- <img src="../../../assets/img/teja.jpg" alt=""> -->
                    </div>
                </div>
                <div class="card-footer">
                    <span>Annabathina Teja</span>
                </div>
            </div>
        </div>
    </div>
</div>
