<div class="homepage-container">
    <div class="homepage-header">
        <div class="logo">
            <div class="page-icon">AJET</div>
        </div>
        <div class="buttons">
            <button class="btn btn-warning"  (click)="signin()">Login</button>
            <button class="btn btn-warning"  (click)="signup()">Sign-up</button>
        </div>
    </div>
    <div style="width: 100%;">
        <!-- <img src="../../../assets/img/ajet.jpg" class="img-fluid" style="width:100%" alt="" srcset=""> -->
        <span>WELCOME TO</span>
        <span>AJET</span>
        <!-- <small>-Teja</small> -->
    </div>
</div>
