<div class="homepage-container">
    <div class="homepage-header">
        <div class="page-icon">AJET</div>
        <div class="buttons">
            <button class="btn btn-warning"  (click)="signin()">Login</button>
            <button class="btn btn-warning"  (click)="signup()">Sign-up</button>
        </div>
    </div>
    <div style="width: 100%;">
        <img src="../../../assets/img/ajet.jpg" class="img-fluid" style="width:100%" alt="" srcset="">
        <span>Thinking will not overcome fear but action will.</span>
        <!-- <small>-Teja</small> -->
    </div>
</div>
