.signin-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);

}

.error_message_style{
    background-color: rgba(255,0,0, $alpha: 0.4);
    // opacity: 0.4;
    // border: 1px solid red;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 400px;
}
.error_text_style{
    opacity: 1!important;
    span{
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    // font-weight: 700;
    color: black;
    opacity: 0.9;
    }
}
.form-g{
    width:400px;
    height: 80%;
    background-color: #fff;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    // min-height: 100vh;

}

.form{
    width: 100%;
    &-group{
        margin-bottom: 13px;
    }
    &-check{
        margin-bottom: 15px;
    }
    &-label{
        font-weight: 600;
    }
}

button{
    width: 100%;
    background-color: #2980b9;
    color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 7px;
    cursor: pointer;

}

.social-login{
    height: 50px;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3rem;
}
.social-icons{
    padding:0px 15px;
}
.social-icons svg{
    height: 2.5rem;
    width: 2.5rem;
}

