@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.close{
    border: 0;
    font-size: 1.6rem;
    background-color: #fff;
    span{
        font-size: 2.5rem;
    }

}

.fa-bars{
    display: none;
    padding: 0 10px 0 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.form-group{
    padding: 10px 0px;
}

.form-label{
    font-weight: 400;
}

.dashboard-container{
    // justify-content: center;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // min-height: 100vh;
    // background-color: #EEE;
}

.dashboard-navbar{
    width: 100%;
    // height: 85px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 0px 0 rgba($color: #000000, $alpha: 0.2);
    padding: 10px;
    background-color: #20232a;
    color: #fff;
    // border-radius: 0 0 5px 5px;
    top: 0px;
    z-index: 1;
    position:fixed;
}

.nav-icons{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    transition: 1s;
    span{
        font-family: "Open Sans", sans-serif;
        padding: 0 0 0 10px;
        font-size: 2rem;
        cursor: pointer;
    }
}

.nav-addbutton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-company-style{
    background-color: #20232a;
    border: 0;
    color: #EEE;
    &:hover{
        background-color: #61dafb;
        color: #20232a;
        border: 0;
    }
}

.dashboard-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content:center;
    // align-items: center;
    // width: 100%;
    margin-top: 100px;
    // height: auto;
    // top: 50px;
}

.company-card{
    // width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: auto;
}

.status{
    // margin-left: 30px;
    font-size: 1.5rem;
    font-weight: 470;
    // font-family: "Open Sans",sans-serif;
}

.card-data{
    margin: 20px;
    box-shadow: 1px 3px 5px 1px rgba($color: #000000, $alpha: 0.4);
    border-radius: 5px;
    height: auto;
    cursor: pointer;
}

.card{
    height: 260px;
    width: 260px;
    transition: 0.8s;
    &:hover{
        box-shadow: 0px 3px 5px 5px rgba($color: #000000, $alpha: 0.3);
        transform: scale(1.1);
    }
}

.card-header{
    display: flex;
    justify-content: space-between;
    background-color:#20232a;
    // color: #2f3640;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    border: 1px #20232a;
}

.card-footer{
    justify-content: space-between;
    display: flex;
}
.card-edit button{
    border: 0;
    background-color:#20232a;
}

.fa-pen{
    border: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.card-body{
    justify-content: center;
    span{
        padding: 5px 2px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        display: flex;
    }
}

.card-footer{
    justify-content: space-between;
}

// .dashboard-footer{
//     margin-top: 60px;
//     height: 200px;
//     background-color: #2c3e50;
//     width: 100%;
//     bottom: 0!important;
// }

.custom-select{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    option{
    font-family: "Opan Sans", sans-serif;
    padding: 5px 0;
    }
}

nav{
    background-color:#fff;
    border: none;
    color: #212529;
    // justify-content: center;
    padding: 2rem;
    width: 300px;
    min-height: 100vh;
    display: block;
    transition: 0.3s;
    font-family: "Open Sans",sans-serif;
    // transform: translateX(100%);
}
nav ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
}
nav ul li{
    padding: 1rem 0;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        border-right: 5px solid #61dafb;
    }
}


.menu-list ul{
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
    color: #EEE;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li{
        padding: 1rem;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color: #61dafb;
        }
    }
}

.menu{
    top: 0px;
    left: 0px;
    justify-content: flex-start;
    z-index: 2;
    position:fixed;
    display: none;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
}

.close-menu{
    top: 5px;
    right: 25px;
    position:absolute;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    font-size: 1.6rem;
    background-color: #fff;
    span{
        font-size: 2rem;
    }
}

.logo{
    margin-left: 50px;
    span{
    color: #61dafb;
    font-size: 2.5rem;
    font-weight: 700;
    }
}

@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu nav li{font-size: 15px;}
  }

  @media screen and (max-width: 700px) {
    .logo{
        margin-left: 40px;
        span{
            font-size: 2rem;
        }
    }
    .card{
        height: 230px;
        width: 230px;
    }
    .card-header{
        font-size: 1.1rem;
    }
    .card-body{
        span{
            font-size: 12px;
        }
    }
    .card-footer{
        font-size: 12px;
    }
    .menu-list {
        display: none;
    }
    .menu{
        display: flex;
    }
    .fa-bars{
        display: flex;
    }
}
@media screen and (max-width: 500px) {
    .logo{
        margin-left: 10px;
        span{
            font-size: 2rem;
        }
    }

    .card-data{
        margin: 10px;
    }

    .card{
        height: 180px;
        width: 180px;
    }
    .card-header{
        font-size: 0.9rem;
    }
    .card-body{
        span{
            font-size: 9px;
        }
    }
    .card-footer{
        font-size: 9px;
    }
}

@media screen and (max-width: 420px) {
    .logo{
        margin-left: 0px;
        span{
            font-size: 2rem;
        }
    }
    .card{
        height: 260px;
        width: 260px;
    }
    .card-header{
        font-size: 1.3rem;
    }
    .card-body{
        span{
            font-size: 16px;
        }
    }
    .card-footer{
        font-size: 16px;
    }
}

@media screen and (max-width: 280px) {
    .add-company-style{
        display: none;
    }
    .logo{
        margin-left: 0px;
        span{
            font-size: 1.5rem;
        }
    }
}


  @media screen and (max-width: 565px) {
    .card{
        height: 200px;
        width: 200px;
    }
    .card-data{
        margin: 15px;
    }
    .card-header{
        font-size: 1rem;
    }
    .card-body{
        span{
            font-size: 10px;
        }
    }
    .card-footer{
        font-size: 10px;
    }
}

@media screen and (max-width: 860px) {
    .menu-list li{
        padding: 0.8rem;
    }
}