<form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" formControlName="firstName" required>

    <label for="lastName">Last Name</label>
    <input id="lastName" type="text" formControlName="lastName">

    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" required>
  
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" required>
  
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" required>
  
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" required>
  
    <button type="submit" [disabled]="signUpForm.invalid">Create Account</button>
  </form>
  
  
  