<form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
    <label for="firstName">First Name</label>
    <input class="form-control form-control-lg" id="firstName" type="text" formControlName="firstName" required>

    <label for="lastName">Last Name</label>
    <input class="form-control form-control-lg" id="lastName" type="text" formControlName="lastName">

    <label for="username">Username</label>
    <input class="form-control form-control-lg" id="username" type="text" formControlName="username" required>
  
    <label for="email">Email</label>
    <input class="form-control form-control-lg" id="email" type="email" formControlName="email" required>
  
    <label for="password">Password</label>
    <input class="form-control form-control-lg" id="password" type="password" formControlName="password" required>
  
    <label for="confirmPassword">Confirm Password</label>
    <input class="form-control form-control-lg" id="confirmPassword" type="password" formControlName="confirmPassword" required>
  
    <button type="submit" [disabled]="signUpForm.invalid">Create Account</button>
  </form>
  

  <!-- <form class="row g-3" style="width: 500px; margin: auto;">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-sm-6">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
  
   -->